fastapi
uvicorn
sqlalchemy
aiosqlite
python-jose
pydantic
pydantic_settings
passlib
jose
types-python-jose
python-multipart
fastapi-users
fastapi-users-db-sqlalchemy
python-dotenv
psycopg2-binary
asyncpg
alembic
requests
opencv-python       
mediapipe